.visit-card {
    width: 100%;
    height: 100px; /* Встановіть потрібну висоту для карточки */
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: thin;
    margin: 5px;
}
.info {
    text-align: center;
}
.info b {
    font-size: 20px;
}
.info i {
    font-size: 16px;
}
.info font {
    font-size: 14px;
    color: blue;
}
